    /* WHEN screen width is 991px or less,
        THEN apply thes rules  */
        @media screen and (max-width: 991px) {
    
            .link-btn {
                padding: 1% 2% ;
            }
        
        }
        
            /* WHEN screen width is 400px or less,
                THEN apply thes rules  */
        @media screen and (max-width: 500px) {
            body {
                text-align: center;
            }
            main {
             margin: 2rem 1rem 2rem 1rem;    
            }
        
            .nav-link {
                margin: 1% 1%;
                padding: 1% 2%;
            }
        
        
            .index-row-1, .contact-row-1 {
                /* background-color: white; */
                text-align: center;
                /* padding-: 1rem; */
            }
        
            .title-row {
                text-align: center;
                padding-bottom: 1rem;
            }
        
            .portfolio-card-l, .portfolio-card-r {
                margin: 0 auto;
                padding: 1rem;
            }
        
            h1 {
                margin: 0;
            }
            .index-row-2{
                padding-top: 0;
                text-align: center;
            }
            .portrait {
                
                float: none;
                margin: 1rem auto;
            }

            .contact-row {
                width: 100%;
                margin: 1rem auto;
            }
        }