/* GLOBAL ITEMS */
body {
    /* background: rgb(233, 255, 243); */
    background-image: url("https://images.squarespace-cdn.com/content/v1/57d03133440243d64e967f10/1473734795705-EVO6AOQOQPWPO6F8NDTP/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UbeDbaZv1s3QfpIA4TYnL5Qao8BosUKjCVjCf8TKewJIH3bqxw7fF48mhrq5Ulr0Hg/Background.png?format=2500w");
    font-size: 1rem;
    color: rgb(214, 214, 214);
    /* text-align: left; */
    min-height: 100vh;
}

.bg-color {
    background-color: rgb(107, 107, 112) !important;
}

a {
    cursor: pointer;
}

/* NAV BAR ITEMS */

/* centers nav items vertically */
.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-btn {
    margin: 5px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.288);
    border: solid .1rem rgb(185, 185, 185);
    border-radius: .3rem;
}

.contact-btn {
    margin: 10px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.288);
    border: solid .1rem rgb(185, 185, 185);
    border-radius: .3rem;
}

/* nav buttons and footer buttons */
.link-btn:hover, footer>div>a:hover {
    color: rgb(0, 204, 255);
    border: solid .1rem rgb(0, 204, 255);
    border-radius: .3rem;
}

.active {
    color: rgb(0, 204, 255);
    border: solid .1rem rgb(0, 204, 255);
    border-radius: .3rem;
}

/* removes blue line underneath a links */
a:-webkit-any-link{
    text-decoration:none !important;
}


/* PAGE BODY ITEMS */
img.card-img-top {
    margin: 0 0 !important;
}

/* main page container */
.container, .container-sm {
    margin:5% auto;    
    border-radius: 1rem;
    text-align: center;
}
.index-row-1 {
    margin: 0 auto;
}
.index-row-2, .contact-row-2 {
    padding: 1rem;
    border-radius: .3rem;
}
.portrait {
    margin: 0 1rem 0 0;
    float: left;
}



/* PORTFOLIO PAGE ITEMS */
.title-row {
    width: 98%;
    border-radius: .3rem;
    margin: 1rem auto;
    padding: 1rem;
}

.portfolio-card-l {
    padding:1rem .5rem .5rem 1rem;
}

.portfolio-card-r {
    padding:1rem 1rem .5rem .5rem;
}

.portfolio-link {
    color: rgba(230, 89, 230, 0.842);
    text-decoration: underline;
}

.card-img-top {
    opacity:.8;
}

.card-img-top:hover {
    opacity: 1;
    color: rgb(0, 204, 255);
    border: solid .3rem rgba(0, 204, 255, .5);
    border-radius: .3rem;
}
/*CONTACT PAGE*/
.contact-row {
    width: 80%;
    border-radius: .3rem;
    margin: 1rem auto;
    padding: 1rem;
}

.contact-item {
    margin: 1rem 0;

}

/* FOOTER ITEMS */
footer {
    border-top: rgb(185, 185, 185);
    text-align: center;
    position:  static;
    bottom: 0;
    width: 100%;
}

footer>a {
    text-decoration: none;
    font-size: .7rem;
}
